.contactContainer {
  width: 100%;
  max-width: 390px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.bgImageContact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(../../assets/contactBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all ease-in-out 0.8s;
}
.bgimgcontacthere {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url(../../assets/contactboximg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all ease-in-out 0.8s;
}

@media (min-width: 992px) and (max-width: 1060px) {
  .contactContainer {
    width: 100%;
    max-width: 390px;
    height: 300px;
  }
}
