.img-container {
  height: calc(100vh - 100px);
  position: relative;
  overflow: hidden;
}

.textbox-design {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  width: 100%;
  margin: auto;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  padding: 20px 0px;
}
.textbox-design h1 {
  font-size: 52px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  color: gold;
  letter-spacing: 0.3rem;
  line-height: 4.5rem;
  word-spacing: 0.2rem;
}

.textbox-design h2 {
  font-size: 22px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  color: #fff;
}

.textbox-design button {
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 12px 28px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: rgba(2, 107, 163, 0.5);
  /* transition: all 0.2s ease-in-out; */
}
.textbox-design button:hover {
  background-color: #005582;
  border-radius: 5px;
}

.carousel-control-next-icon {
  background-color: #b2b2b2;
  border-radius: 50%;
}
.carousel-control-prev-icon {
  background-color: #b2b2b2;
  border-radius: 50%;
}

@media screen and (max-width: 840px) {
  .textbox-design h1 {
    font-size: 45px;
  }
  .textbox-design h2 {
    font-size: 20px;
  }
  .textbox-design {
    /* padding: 0px 50px; */
    max-width: 600px;
  }
}

@media screen and (max-width: 736px) {
  .textbox-design h1 {
    letter-spacing: 0.3rem;
    line-height: 3.6rem;
    word-spacing: 0.1rem;
    font-size: 35px;
  }
  .textbox-design h2 {
    font-size: 18px;
  }
  .textbox-design {
    max-width: 550px;
  }
  .img-container {
    height: 400px;
  }
}

@media screen and (max-width: 640px) {
  .textbox-design h1 {
    letter-spacing: 0.3rem;
    line-height: 3.2rem;
    word-spacing: 0.1rem;
    font-size: 35px;
  }
  .textbox-design h2 {
    font-size: 18px;
  }
  .textbox-design {
    max-width: 500px;
  }
  .img-container {
    height: 400px;
  }
}
@media screen and (max-width: 420px) {
  .textbox-design h1 {
    letter-spacing: 0.3rem;
    line-height: 2.8rem;
    word-spacing: 0.1rem;
    font-size: 30px;
  }
  .textbox-design h2 {
    font-size: 16px;
  }
  .textbox-design {
    max-width: 500px;
  }
}

@media screen and (max-width: 620px) {
  .carousel-control-next-icon {
    /* margin-top: 250px; */
    position: absolute;
    bottom: 26%;
  }
  .carousel-control-prev-icon {
    /* margin-top: 250px; */
    position: absolute;
    bottom: 26%;
  }
}
@media screen and (max-width: 425px) {
  .carousel-control-next-icon {
    /* margin-top: 250px; */
    position: absolute;
    bottom: 20%;
  }
  .carousel-control-prev-icon {
    /* margin-top: 250px; */
    position: absolute;
    bottom: 20%;
  }
}
@media screen and (max-width: 620px) {
  .img-container {
    height: 480px;
  }
}
