.test {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url(../../assets/gbl/industry.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  transition: all ease-in-out 0.8s;
}
.buttonBanner {
  border: 1px solid #fff;
  border-radius: 10px;
  width: 150px;
  font-weight: 600;
  font-size: 20px;
  background-color: transparent;
  color: #fff;
}
.buttonBannerMobile {
  border: 1px solid #fff;
  border-radius: 10px;
  width: 150px;
  font-weight: 600;
  font-size: 20px;
  background-color: transparent;
  color: #fff;
}

@media (max-width: 380px) {
  .buttonBanner {
    width: 130px;
  }
  .buttonBannerMobile {
    width: 130px;
  }
}

@media (min-width: 1000px) and (max-width: 20000px) {
  .buttonBannerMobile {
    display: none;
  }
}
